APP_PORT=3001
NODE_ENV=development

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=order_service
DATABASE_PASSWORD=order_service
DATABASE_NAME=order_service

RABBITMQ_URL=amqp://guest:guest@localhost:5672

CUSTOMER_SERVICE_URL=http://localhost:3002
CUSTOMER_SERVICE_TIMEOUT=3000
CUSTOMER_SERVICE_RETRIES=1

NEW_RELIC_APP_NAME=order-service
NEW_RELIC_LICENSE_KEY=

JWT_SECRET=
ENABLE_NEW_RELIC=false

